/*----
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);
@import url(http://fonts.googleapis.com/css?family=Changa:400,700);
@import url(http://fonts.googleapis.com/css?family=Rakkas:400,700);


.logo, .header-right, .well {
    background: none;
    border: none;
}

body {
    font-family:'Changa';
    background: #F6F6F7;
}

textarea
{
    font-family:'Rakkas';
}

    body a {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

.bg {
    background: url(../images/DLSBackGround.jpg) no-repeat 0px 0px;
    background-size:100% 100%;
}
/*----start-header----*/
.header {
    padding: 1em 0;
}

.logo {
    margin-top: 1em;
}

.header-right {
    color: #CAD1DB;
    
    font-size: 1.5em;
    text-align: right;
}

    .header-right a {
        text-decoration: none;
    }

    .header-right p i a {
        margin-right: 1.2em;
        color: #CAD1DB;
        display: inline-block;
    }

        .header-right p i a:hover {
            color: #67BF95;
        }

.login {
    background: #3D4B60;
    color: #CAD1DB;
    padding: 0.4em 1.5em;
    text-decoration: none;
    border-radius: 0.3em;
    display: inline-block;
}

    .login:hover {
        color: #67BF95;
        background: #303B4A;
    }
/*----//End-header----*/
/*----start-slide-banner---*/
.slide-banner-left {
    font-family: 'Enriqueta', serif;
}

    .slide-banner-left h1 {
        color: #FFF;
        font-size: 3.5em;
    }

    .slide-banner-left p {
        color: #C5D2E5;
        font-size: 1.5em;
        width: 64%;
        margin: 2em 0 2.5em;
    }

.b-btn {
    background: #67BF95;
    padding: 0.65em 1.3em;
    outline: none;
    border: none;
    font-weight: 400;
    
    font-size: 1em;
}

    .b-btn:hover {
        background: #3D4B60;
    }

.slide-banner {
    padding: 3em 0 3em;
}
/*----//End-slide-banner---*/
/*----start-grids----*/
.top-grids {
    padding: 5em 0;
}

.top-grid-right ul li {
    list-style-type: none;
    display: block;
    margin-bottom: 2em;
}

    .top-grid-right ul li a span {
        width: 94px;
        height: 94px;
        display: inline-block;
    }

.icon1 {
    background: url(../images/icons.png) no-repeat 0px 0px;
}

.icon2 {
    background: url(../images/icons.png) no-repeat 0px -152px;
}

.top-grid-center h2 {
    color: #505965;
    font-size: 3.2em;
    font-family: 'Enriqueta', serif;
}

.top-grid-center p {
    color: #4B596C;
    font-size: 1.4em;
    margin: 1em 0 1.5em;
    
    line-height: 1.8em;
}
/*----start-mid-grids----*/
.carousel-control.right, .carousel-control.left {
    background: none;
}

.carousel-control .glyphicon-chevron-right {
    right: -50%;
}

.carousel-control .glyphicon-chevron-left {
    left: -50%;
}

.mid-grids {
    text-align: center;
    background: url(../images/mid-bg.jpg) repeat-x 0px 0px;
    padding-top: 2.5em;
}

    .mid-grids h3 {
        color: #FFF;
        font-size: 3em;
        margin: 0.8em 0 0;
        
        line-height: 1.8em;
        font-weight: 600;
    }

    .mid-grids p {
        color: #FFF;
        font-size: 2em;
        margin: 0 0 1em 0;
        
        line-height: 1.8em;
        font-weight: 100;
    }

.pricetables-head {
    text-align: center;
    margin-bottom: 3em;
}

    .pricetables-head h2 {
        color: #37414E;
        font-size: 2.5em;
        margin: 0.8em 0 0;
        
        line-height: 1.8em;
        font-weight: 600;
    }

    .pricetables-head p {
        color: #858B93;
        font-size: 1.5em;
        
        line-height: 1.8em;
        font-weight: 100;
        width: 80%;
        margin: 0 auto 1em auto;
    }

.pricetable h3 {
    background: #4B596C;
    color: #FFF;
    text-align: center;
    padding: 0.5em;
    
    font-size: 2.2em;
    margin: 0;
    border-radius: 0.1em 0.1em 0 0;
}

.pricetable ul {
    background: #E9EEF3;
    margin: 0;
    padding: 2em;
    text-align: center;
    
    margin-bottom: 3em;
}

    .pricetable ul li {
        list-style: none;
        margin: 0em 0 3em;
    }

        .pricetable ul li a {
            text-decoration: none;
        }

            .pricetable ul li a.frist-fea {
                color: #6D737B;
                font-size: 2.2em;
                font-weight: 700;
            }

        .pricetable ul li a {
            color: #6D737B;
            font-size: 1.5em;
        }

.price-btn1 {
    display: block;
    background: #4B596C;
    border: none;
    
    text-align: center;
    font-size: 1.8em;
    color: #FFF;
    font-weight: 600;
    padding: 0.5em;
}

    .price-btn1:hover {
        text-decoration: none;
        color: #FFF;
        background: #52AD81;
    }

.pricetables {
    padding: 2em 0 7em;
}
/*----*/
.pricetable1 span {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url(../images/right-icon.png) no-repeat 0px 0px;
    position: absolute;
    top: -20px;
    right: 0;
}

.pricetable1 ul {
    background: #DEEBDE;
}

.pricetable1 h3, .pricetable1 a.price-btn1 {
    background: #58AD52;
}

.pricetable1 ul li a.frist-fea {
    color: #58AD52;
}

.pricetable1 a.price-btn1:hover {
    background: #4A9345;
}
/*-----*/
.pricetable2 h3, .pricetable2 a.price-btn1 {
    background: #52A1AD;
}

.pricetable2 ul li a.frist-fea {
    color: #52A1AD;
}

.pricetable2 ul {
    background: #DEE9EC;
}

.pricetable2 a.price-btn1:hover {
    background: #4E8B94;
}
/*----start-video----*/
.video {
    text-align: center;
    background: #E9EAED;
}

    .video h4 {
        color: #4B596C;
        font-size: 2.3em;
        margin: 1em;
        
        line-height: 1.8em;
        font-weight: 600;
    }


/*-----light-box-----*/
.light-box-info h3 {
    color: #4B596C;
    font-size: 2.3em;
    font-family: 'Changa', sans-serif;
    line-height: 1.8em;
    font-weight: 600;
}

.light-box-info {
    padding: 1em;
    border-radius: 0;
    background: #F6F6F7;
}

    .light-box-info iframe {
        width: 100%;
        min-height: 520px;
    }
/*----start-contact----*/
.contact {
    background: #2D3035;
    
    padding: 3.5em 0 7em;
}

    .contact p {
        text-align: center;
        margin: 0;
        padding: 3em 0 4em;
    }

    .contact .thespan {
        color: #FFF;
        display: block;
        font-size: 1.7em;
        margin-bottom: 0.2em;
    }

        .contact .thespan label {
            color: #5383d3;
            vertical-align: top;
            margin-left: 0.1em;
        }

    .contact input[type="text"],input[type="email"], .contact textarea {
        border-radius: 4px;
        
        outline: none;
        border: 2px solid #42454A;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        transition: border-color 0.3s;
        -o-transition: border-color 0.3s;
        -ms-transition: border-color 0.3s;
        -moz-transition: border-color 0.3s;
        -webkit-transition: border-color 0.3s;
        -webkit-appearance: none;
        padding: 0.5em;
        background: #2F3237;
        color: #858B93;
        width: 100%;
        resize: none;
        font-size: 1.3em;
    }

     .contact input[type="text"]:hover,input[type="email"]:hover, .contact input[type="text"]:focus input[type="email"]:focus, .contact textarea:hover, .contact textarea:focus {
            border: 2px solid #357399;
        }

.contact-text-box div {
    margin: 0 0 2em 0;
}

.contact textarea {
    height: 170px;
}

.contact input[type="submit"] {
    float: right;
    margin: 1em 0 0 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    text-transform: uppercase;
    padding: 0.77em 2em;
    font-size: 1.5em;
    outline: none;
    cursor: pointer;
}

    .contact input[type="submit"]:hover {
        background: #357399;
    }

.text-box-light {
    background: url(../images/calender.png) no-repeat 95% 50%;
    cursor: pointer;
    position: relative;
}

/*---start-checkbox----*/
input[type=checkbox].css-checkbox1, input[type=checkbox].css-checkbox2 {
    display: none;
}

    input[type=checkbox].css-checkbox1 + label.css-label1 {
        height: 20px;
        width: 21px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: super;
        cursor: pointer;
        background: url(../images/bsprit1.png) no-repeat -194px -4px;
    }

    input[type=checkbox].css-checkbox1:checked + label.css-label1 {
        background: url(../images/bsprit1.png) no-repeat -215px -4px;
    }

    input[type=checkbox].css-checkbox2 + label.css-label2 {
        height: 20px;
        width: 23px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: -20px 0px;
        vertical-align: super;
        cursor: pointer;
        background: url(../images/bsprit1.png) no-repeat -215px -4px;
    }

    input[type=checkbox].css-checkbox2:checked + label.css-label2 {
        background: url(../images/bsprit1.png) no-repeat -194px -4px;
    }

input[type=checkbox].css-checkbox3, input[type=checkbox].css-checkbox4, input[type=checkbox].css-checkbox5, input[type=checkbox].css-checkbox6 {
    display: none;
}

    input[type=checkbox].css-checkbox3 + label.css-label3 {
        height: 22px;
        width: 21px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 -38px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(../images/filter-bg.png);
    }

    input[type=checkbox].css-checkbox3:checked + label.css-label3 {
        background-position: 0px 0px;
    }

    input[type=checkbox].css-checkbox4 + label.css-label4 {
        height: 22px;
        width: 21px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 0px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(../images/filter-bg.png);
    }

    input[type=checkbox].css-checkbox4:checked + label.css-label4 {
        background-position: 0px -38px;
    }

    input[type=checkbox].css-checkbox5 + label.css-label5 {
        height: 22px;
        width: 21px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 -38px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(../images/filter-bg.png);
    }

    input[type=checkbox].css-checkbox5:checked + label.css-label5 {
        background-position: 0px 0px;
    }

    input[type=checkbox].css-checkbox6 + label.css-label6 {
        height: 22px;
        width: 21px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 0px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(../images/filter-bg.png);
    }

    input[type=checkbox].css-checkbox6:checked + label.css-label6 {
        background-position: 0px -38px;
    }
/*-----*/
.modal-content {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

.light-box-info {
    border: none;
}
/* Magnific Popup CSS */

.mfp-bg {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: rgba(11, 11, 11, 0.29);
    opacity: 0.9;
    filter: alpha(opacity=80);
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .mfp-container:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #cccccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

    .mfp-preloader a {
        color: #cccccc;
    }

        .mfp-preloader a:hover {
            color: white;
        }

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 32px;
    height: 32px;
    line-height: 44px;
    position: absolute;
    right: 5%;
    top: 5%;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    background: url(../images/bsprit1.png) no-repeat 1px -33px;
    font-style: normal;
    font-size: 0;
    outline: none;
}

    .mfp-close:hover, .mfp-close:focus {
        width: 32px;
        height: 32px;
        line-height: 44px;
        position: absolute;
        right: 5%;
        top: 5%;
        text-decoration: none;
        text-align: center;
        opacity: 0.65;
        padding: 0 0 18px 10px;
        background: url(../images/bsprit1.png) no-repeat -36px -33px;
        font-style: normal;
        font-size: 0;
        outline: none;
    }

.mfp-close-btn-in .mfp-close {
    color: #3598DB;
}

    .mfp-close-btn-in .mfp-close:hover {
        color: red;
    }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: white;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
    outline: none;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #cccccc;
    font-size: 12px;
    line-height: 18px;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

    .mfp-arrow:active {
        margin-top: -54px;
    }

    .mfp-arrow:hover,
    .mfp-arrow:focus {
        opacity: 1;
    }

    .mfp-arrow:before, .mfp-arrow:after,
    .mfp-arrow .mfp-b,
    .mfp-arrow .mfp-a {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 35px;
        margin-left: 35px;
        border: medium inset transparent;
    }

    .mfp-arrow:after,
    .mfp-arrow .mfp-a {
        border-top-width: 13px;
        border-bottom-width: 13px;
        top: 8px;
    }

    .mfp-arrow:before,
    .mfp-arrow .mfp-b {
        border-top-width: 21px;
        border-bottom-width: 21px;
    }

.mfp-arrow-left {
    left: 0;
}

    .mfp-arrow-left:after,
    .mfp-arrow-left .mfp-a {
        border-right: 17px solid white;
        margin-left: 31px;
    }

    .mfp-arrow-left:before,
    .mfp-arrow-left .mfp-b {
        margin-left: 25px;
        border-right: 27px solid #3f3f3f;
    }

.mfp-arrow-right {
    right: 0;
}

    .mfp-arrow-right:after,
    .mfp-arrow-right .mfp-a {
        border-left: 17px solid white;
        margin-left: 39px;
    }

    .mfp-arrow-right:before,
    .mfp-arrow-right .mfp-b {
        border-left: 27px solid #3f3f3f;
    }

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

    .mfp-iframe-holder .mfp-content {
        line-height: 0;
        width: 100%;
        max-width: 900px;
    }

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

    .mfp-iframe-scaler iframe {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
        background: black;
    }

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444;
}

.mfp-figure {
    line-height: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-break: break-word;
    padding-right: 36px;
}

.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}
/******** Plans List *******/
/* Styles for dialog window */
#small-dialog {
    background: #F6F6F7;
    padding: 20px;
    text-align: left;
    max-width: 700px;
    margin: 40px auto;
    position: relative;
    border-radius: 2px;
}
/**

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in #small-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.9;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}
/* pop_up */
.pop_up h2 {
    text-transform: capitalize;
    font-size: 1.5em;
    color: #202227;
    margin-bottom: 2%;
}

.pop_up p {
    font-size: 1em;
    color: #555555;
    line-height: 1.8em;
}

#small-dialog1 {
    background: white;
    padding: 20px 30px;
    text-align: left;
    max-width: 400px;
    margin: 40px auto;
    position: relative;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}
/**
/**
 * Fade-zoom animation for first dialog
 */
/* start state */
.my-mfp-zoom-in #small-dialog1 {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog1 {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog1 {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}
/*---- start-Responmsive-Media-quries----*/
/*----start-media-quries-for-1366px-Laptops-----*/

@media (max-width:1366px) {

    .video-bg {
        min-height: 589px;
    }

    .carousel-control .glyphicon-chevron-right {
        right: -36%;
    }

    .carousel-control .glyphicon-chevron-left {
        left: -36%;
    }
}
/*----//End-media-quries-for-1366px-Laptops-----*/
/*----start-media-quries-for-1280px-Laptops-----*/

@media (max-width:1280px) {
    .video-bg {
        min-height: 570px;
    }

    .carousel-control .glyphicon-chevron-right {
        right: 20%;
    }

    .carousel-control .glyphicon-chevron-left {
        left: 20%;
    }
}
/*----//End-media-quries-for-1280px-Laptops-----*/
/*----start-media-quries-for-1024px-Laptops-----*/


@media (max-width:1024px) {
    .video-bg {
        min-height: 500px;
    }

    .carousel-control .glyphicon-chevron-right {
        right: 20%;
    }

    .carousel-control .glyphicon-chevron-left {
        left: 20%;
    }
}
/*----//End-media-quries-for-1024px-Laptops-----*/
/*----start-media-quries-for-768px-Laptops-----*/


@media (max-width:768px) {
    .video-bg {
        min-height: 450px;
    }

    .carousel-control .glyphicon-chevron-right {
        right: 20%;
    }

    .carousel-control .glyphicon-chevron-left {
        left: 20%;
    }
    /*----*/
    .logo {
        text-align: center;
        padding: 1em 0;
    }

    .well {
        padding: 0;
    }

    .container {
        width: 80%;
    }

    .login-info {
        text-align: center;
    }

    .slide-banner {
        text-align: center;
    }

    .slide-banner-left p {
        color: #C5D2E5;
        font-size: 1.5em;
        width: 100%;
        margin: 1em 0;
    }

    .slide-banner span {
        margin-top: 2%;
        width: 250px;
        height: 250px;
        background: url(../images/slider-img.png) no-repeat 0px 0px;
        display: inline-block;
        background-size: 100%;
    }

    .slide-banner-right {
        display: none;
    }

    .slide-banner-left h1 {
        margin: 0;
    }

    .top-grids {
        padding: 3em 0;
        text-align: center;
    }

    .top-grid-left img {
        display: inline-block;
    }

    .top-grid-left {
        text-align: center;
    }

    .top-grid-right ul li {
        display: inline-block;
    }

    .pricetable ul {
        margin-bottom: 1em;
    }

    .pricetable {
        margin-bottom: 3%;
    }

    .mid-grids h3 {
        font-size: 2.5em;
    }

    .pricetables-head h2 {
        font-size: 1.7em;
    }

    .video h4 {
        font-size: 1.6em;
    }

    .footer {
        text-align: center;
    }

    .footer-right {
        margin: 1em 0;
        text-align: center;
    }

    .light-box-info iframe {
        width: 100%;
        min-height: 400px;
    }

    .video-bg a {
        top: 38%;
        left: 45%;
    }
}

/*----//End-media-quries-for-768px-Laptops-----*/
/*----start-media-quries-for-640px-Laptops-----*/


@media (max-width:640px) {
    .video-bg {
        min-height: 400px;
    }

    .carousel-control .glyphicon-chevron-right {
        right: 20%;
    }

    .carousel-control .glyphicon-chevron-left {
        left: 20%;
    }
    /*----*/
    .logo {
        text-align: center;
        padding: 1em 0;
    }

    .well {
        padding: 0;
    }

    .container {
        width: 80%;
        font-size: 80%;
    }

    .login-info {
        text-align: center;
    }

    .slide-banner {
        text-align: center;
    }

    .slide-banner-left p {
        color: #C5D2E5;
        font-size: 1.5em;
        width: 100%;
        margin: 1em 0;
    }

    .slide-banner span {
        margin-top: 2%;
        width: 250px;
        height: 250px;
        background: url(../images/slider-img.png) no-repeat 0px 0px;
        display: inline-block;
        background-size: 100%;
    }

    .slide-banner-right {
        display: none;
    }

    .slide-banner-left h1 {
        margin: 0;
    }

    .top-grids {
        padding: 3em 0;
        text-align: center;
    }

    .top-grid-left img {
        display: inline-block;
    }

    .top-grid-left {
        text-align: center;
    }

    .top-grid-right ul li {
        display: inline-block;
    }

    .pricetable ul {
        margin-bottom: 1em;
    }

    .pricetable {
        margin-bottom: 3%;
    }

    .mid-grids h3 {
        font-size: 2.5em;
    }

    .pricetables-head h2 {
        font-size: 1.7em;
    }

    .video h4 {
        font-size: 1.6em;
    }

    .footer {
        text-align: center;
    }

    .footer-right {
        margin: 1em 0;
        text-align: center;
    }

    .video-bg a {
        top: 39%;
        left: 43%;
    }

    .light-box-info iframe {
        width: 100%;
        min-height: 400px;
    }

    .video-bg a {
        top: 38%;
        left: 45%;
    }
}

/*----//End-media-quries-for-640px-Laptops-----*/
/*----start-media-quries-for-480px-Laptops-----*/

@media (max-width:480px) {
    .video-bg {
        min-height: 400px;
    }

    .carousel-control .glyphicon-chevron-right {
        right: 20%;
    }

    .carousel-control .glyphicon-chevron-left {
        left: 20%;
    }
    /*----*/
    .logo {
        text-align: center;
        padding: 1em 0;
    }

    .well {
        padding: 0;
    }

    .container {
        width: 80%;
        font-size: 70%;
    }

    .login-info {
        text-align: center;
    }

    .slide-banner {
        text-align: center;
    }

    .slide-banner-left p {
        color: #C5D2E5;
        font-size: 1.5em;
        width: 100%;
        margin: 1em 0;
    }

    .slide-banner span {
        margin-top: 2%;
        width: 200px;
        height: 200px;
        background: url(../images/slider-img.png) no-repeat 0px 0px;
        display: inline-block;
        background-size: 100%;
    }

    .slide-banner-right {
        display: none;
    }

    .slide-banner-left h1 {
        margin: 0;
        font-size: 3.2em;
    }

    .top-grids {
        padding: 3em 0;
        text-align: center;
    }

    .top-grid-left img {
        display: inline-block;
    }

    .top-grid-left {
        text-align: center;
    }

    .top-grid-right ul li {
        display: inline-block;
    }

    .pricetable ul {
        margin-bottom: 1em;
    }

    .pricetable {
        margin-bottom: 3%;
    }

    .mid-grids h3 {
        font-size: 2.2em;
    }

    .pricetables-head h2 {
        font-size: 1.7em;
    }

    .video h4 {
        font-size: 1.6em;
    }

    .footer {
        text-align: center;
    }

    .footer-right {
        margin: 1em 0;
        text-align: center;
    }

    .video-bg a {
        top: 39%;
        left: 43%;
    }

    .mid-grids p {
        font-size: 1.6em;
    }

    .pricetables {
        padding: 1em 0 2em;
    }

    .video-bg a {
        top: 39%;
        left: 40%;
    }

    .light-box-info iframe {
        width: 100%;
        min-height: 300px;
    }

    .video-bg a {
        top: 38%;
        left: 42%;
    }
}

/*----//End-media-quries-for-480px-Laptops-----*/
/*----start-media-quries-for-320px-Laptops-----*/

@media (max-width:320px) {
    .video-bg {
        min-height: 280px;
    }

    .carousel-control .glyphicon-chevron-right {
        right: 20%;
    }

    .carousel-control .glyphicon-chevron-left {
        left: 20%;
    }
    /*----*/
    .logo {
        text-align: center;
        padding: 1em 0;
    }

    .well {
        padding: 0;
    }

    .container {
        width: 90%;
        font-size: 70%;
    }

    .login-info {
        text-align: center;
    }

    .slide-banner {
        text-align: center;
    }

    .slide-banner-left p {
        color: #C5D2E5;
        font-size: 1.5em;
        width: 100%;
        margin: 1em 0;
    }

    .slide-banner span {
        margin-top: 2%;
        width: 130px;
        height: 130px;
        background: url(../images/slider-img.png) no-repeat 0px 0px;
        display: inline-block;
        background-size: 100%;
    }

    .slide-banner-right {
        display: none;
    }

    .slide-banner-left h1 {
        margin: 0;
        font-size: 2em;
    }

    .top-grids {
        padding: 3em 0;
        text-align: center;
    }

    .top-grid-left img {
        display: inline-block;
    }

    .top-grid-left {
        text-align: center;
    }

    .top-grid-right ul li {
        display: inline-block;
    }

    .pricetable ul {
        margin-bottom: 1em;
    }

    .pricetable {
        margin-bottom: 3%;
        padding: 0;
    }

    .mid-grids h3 {
        font-size: 2.2em;
    }

    .pricetables-head h2 {
        font-size: 1.7em;
    }

    .video h4 {
        font-size: 1.6em;
    }

    .footer {
        text-align: center;
        padding: 0.8em 0;
    }

    .footer-right {
        margin: 1em 0;
        text-align: center;
    }

    .video-bg a {
        top: 35%;
        left: 36%;
    }

    .mid-grids p {
        font-size: 1.6em;
    }

    .pricetables {
        padding: 1em 0 2em;
    }

    .contact {
        padding: 0.5em 0 2em;
    }

    .slide-banner-left, .top-grid-center {
        padding: 0;
        margin: 0;
    }

    .footer ul li img {
        padding: 0em 0 1em;
    }

    .contact p i {
        width: 100px;
        height: 100px;
        background-size: 100% 100%;
    }

    .contact p {
        padding: 2em 0 1em;
    }

    .contact textarea {
        height: 150px;
    }

    .header {
        padding: 0.8em 0 0;
    }

    .video-bg a {
        top: 39%;
        left: 40%;
    }

    .light-box-info iframe {
        width: 100%;
        min-height: 250px;
    }

    .video-bg a {
        top: 36%;
        left: 39%;
    }

    .top-grid-right ul {
        margin: 0;
        padding: 0;
    }

    .light-box-info h3 {
        font-size: 1.3em;
    }
}

#InputTextArea {
    margin-top: 10px;
    width: 100%;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    
    font-size: 1.5em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}


    #InputTextArea:focus {
        background: none repeat scroll 0 0 #FFFFFF;
        outline-width: 0;
    }

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 16px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 2px 2px 1px #000000;
        background: #3071A9;
        border-radius: 12px;
        border: 1px solid #000000;
    }

    input[type=range]::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000;
        border: 3px solid #3091FF;
        height: 42px;
        width: 20px;
        border-radius: 9px;
        background: #474746;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -15px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #3071A9;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 16px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 2px 2px 1px #000000;
        background: #3071A9;
        border-radius: 12px;
        border: 1px solid #000000;
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000000;
        border: 3px solid #3091FF;
        height: 42px;
        width: 20px;
        border-radius: 9px;
        background: #474746;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 16px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: #3071A9;
        border: 1px solid #000000;
        border-radius: 24px;
        box-shadow: 2px 2px 1px #000000;
    }

    input[type=range]::-ms-fill-upper {
        background: #3071A9;
        border: 1px solid #000000;
        border-radius: 24px;
        box-shadow: 2px 2px 1px #000000;
    }

    input[type=range]::-ms-thumb {
        box-shadow: 1px 1px 1px #000000;
        border: 3px solid #3091FF;
        height: 42px;
        width: 20px;
        border-radius: 9px;
        background: #474746;
        cursor: pointer;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: #3071A9;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #3071A9;
    }

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}

    .range-slider__value:after {
        position: absolute;
        top: 8px;
        left: -7px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-right: 7px solid #2c3e50;
        border-bottom: 7px solid transparent;
        content: '';
    }


@media (min-width:1366px) {
   
.oval-thought-border {
  position:relative;
  /*padding:70px 30px;
  margin:1em auto 80px;
      */
  border:10px solid #245580;
  text-align:center;
  color:#333;
  background:#fff;
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius:240px / 140px;
}

/* creates the larger circle */
.oval-thought-border:before {
  content:"";
  position:absolute;
  z-index:10;
  bottom:20%;
  left:-15%;
  width:50px;
  height:50px;
  border:10px solid #245580;
  background:#fff;
  /* css3 */
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates the smaller circle */
.oval-thought-border:after {
  content:"";
  position:absolute;
  z-index:10;
  bottom:23%;
  left:-20%;
  width:25px;
  height:25px;
  border:7px solid #245580;
  background:#fff;
  /* css3 */
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  border-radius:25px;
  /* reduce the damage in FF3.0 */
  display:block;
}


}

@media (max-width:1366px) {


.oval-thought-border {
  position:relative;
  margin :0;
  /*padding:70px 30px;
  margin:1em auto 80px;
      */
  border:10px solid #245580;
  text-align:center;
  color:#333;
  background:#fff;
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius:240px / 140px;
}
#canvas_images{
    margin-left:-100px;
}
/* creates the larger circle */
.oval-thought-border:before {
  content:"";
  position:absolute;
  z-index:10;
  bottom:20%;
  left:-15%;
  width:50px;
  height:50px;
  border:10px solid #245580;
  background:#fff;
  /* css3 */
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates the smaller circle */
.oval-thought-border:after {
  content:"";
  position:absolute;
  z-index:10;
  bottom:23%;
  left:-20%;
  width:25px;
  height:25px;
  border:7px solid #245580;
  background:#fff;
  /* css3 */
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  border-radius:25px;
  /* reduce the damage in FF3.0 */
  display:block;
}


}


@media (max-width:991px) {
.oval-thought-border {
  position:relative;
  /*padding:70px 30px;
  margin:1em auto 80px;
      */
  border:10px solid #245580;
  text-align:center;
  color:#333;
  background:#fff;
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius:240px / 140px;
}

/* creates the larger circle */
.oval-thought-border:before {
  content:"";
  position:absolute;
  z-index:10;
  bottom:-35%;
  left:45%;
  width:50px;
  height:50px;
  border:10px solid #245580;
  background:#fff;
  /* css3 */
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates the smaller circle */
.oval-thought-border:after {
  content:"";
  position:absolute;
  z-index:10;
  bottom:-41%;
  left:47%;
  width:25px;
  height:25px;
  border:7px solid #245580;
  background:#fff;
  /* css3 */
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  border-radius:25px;
  /* reduce the damage in FF3.0 */
  display:block;
}


}
/*----//End-media-quries-for-320px-Laptops-----*/
/*---- //End-Responmsive-Media-quries----*/
@media(min-width:768px)
{
    .footer-distributed .footer-right img
{
    width:10em;height:10em;
    position:absolute;right:5em;
}
}
@media (max-width:768px)
{

    .margin-bottom-sm
    {
        margin-bottom:100px;
    }
}
@media (max-width:425px)
{

    #canvas_images{
    margin-left:-50px;
}
}
@media (max-width:320px)
{
    #canvas_images{
    margin-left:-75px;
}
}


















.footer-distributed{
	background-color: #2D3035;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;

	padding: 50px 60px 40px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	display: block;
    margin: auto;
    text-align: center;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right img
{
    width:10em;height:10em;

}
.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}
 

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}
.header-fixed {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
    font-family:'Changa';
	font-size:16px;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 11;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

/*
	 We are clearing the body's margin and padding, so that the header fits properly.
	 We are also adding a height to demonstrate the scrolling behavior. You can remove
	 these styles.
 */

body {
	margin: 0;
	padding: 0;
	height: 1500px;
}