﻿@model DLS.Models.ViewTypeModel
@using System.Web.Optimization
@{
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;

}

<!DOCTYPE HTML>
<html>
<head>
    <title> نظام الترجمة الإشاري</title>
    @Styles.Render("~/Content/DLSStyleBundle")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/images/fav-icon.png" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Changa' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <!----//webfonts---->
    
    <!----requred-js-files---->
    @Scripts.Render("~/bundles/DLSScriptBundle")
    

    <!----//requred-js-files---->
</head>

<body>
    <header class="header-fixed">

        <div class="header-limiter">

            <h1><a href="#">Deaf Language <span>Simulator</span></a></h1>

            <nav>
                <a href="#">حول البرنامج</a>
                <a href="#">اسئلة متكررة</a>
                <a href="#contact">تواصل معنا</a>
                <a href="/">الرئيسية</a>

            </nav>

        </div>

    </header>

    <!-- You need this element to prevent the content of the page from jumping up -->
    <div class="header-fixed-placeholder"></div>

    <!-- The content of your page would go here. -->




    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    @using (Ajax.BeginForm("Translate", null, null, new AjaxOptions { AllowCache = true, LoadingElementId = "loader", OnFailure = "onFailure", OnSuccess = "onSuccess", HttpMethod = "Post" }, null))
    {
        @Html.AntiForgeryToken()
    <!----start-bg---->
        <div class="bg">
            <!----start-container---->
            <div class="container-fluid">
                <!---- start-header---->
                <!---- //End-header---->
                <!-----slide-banner---->
                <div class="row" style="margin-top:150px;">
                    <h1 style="text-align:center;color:white">نظام المحاكي الإشاري للغتنا العربية</h1>
                    <h3>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</h3>
                </div>
                <div class="jumbotron" style="padding-bottom:0;margin-bottom:200px">
                    <div class="row">
                        <div class="col-md-4 col-md-push-3 col-md-xs-6">
                            <blockquote class="oval-thought-border">
                                <h2 style="text-align:center;" id="translate_explane" name="translate_explane"><string>اهلا بكم ببرنامج المحاكي </string></h2>
                                <h3 style="text-align:center;color:#5383d3" id="syllable_text" name="syllable_text">للغة الصم</h3>
                            </blockquote>
                        </div>

                        <div class="col-md-3 col-md-pull-4 col-md-xs-6">
                            <div id="images" style="display: flex;">
                                <canvas id="canvas_images" width="450" height="500"></canvas>
                            </div>

                        </div>

                        <div class="col-md-5">
                            @Html.ValidationMessage("InputTextArea", "", new { @class = "text-danger" })
                            @Html.TextAreaFor(m => m.InputTextArea, 10, 40, new { @class = "ui-autocomplete-input", style = "resize:none;", placeholder = "ادخل نصاً حتى يترجمه لك صلاح المحاكي", autocomplete = "off", role = "textbox", @aria_autocomplete = "list", @aria_haspopup = "true", dir = "rtl", autofocus = "autofocus" })
                            @* <textarea placeholder="أدخل نصاً حتى يترجمه لك صلاح المحاكي" rows="10" style="resize:none;" name="InputTextArea" id="InputTextArea" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" dir="rtl" autofocus="autofocus"></textarea>*@
                            <input type="submit" class="btn btn-lg btn-primary" id="translate_button" style="float:right;width:35%;margin-bottom:25px;" value="ترجم">
                            <div class="range-slider">
                                <input style="width:75%;display:inline;" id="range" type="range" min="1" value="1" max="5" step="1">
                                <span id="rangevalue" style="width:20%;" class="range-slider__value">1</span>
                            </div>
                            <p style="text-align:center;"> إختر السرعة المناسبة   <span class="glyphicon glyphicon-dashboard"></span></p>
                            @Html.ValidationMessageFor(model => model.Range, "", new { @class = "text-danger" })
                            <div id="loader" style="display:none;margin:auto;text-align:center">
                                جاري التحميل...
                            </div>
                        </div>
                        <div class="clearfix"> </div>



                    </div>
                    <!-----//slide-banner---->
                </div>
            </div>
        </div>
    }
    <style>
        .entry p {
            line-height: 150%;
            padding: 0 24px 0 10px;
        }
    </style>
    <!----start-top-grids---->
    <div class="top-grids" style="font-size:x-large;font-weight:700;font-family:Changa">
        <div class="container" dir="rtl">
            <h3 style="text-align:center;">كلمة خاصة</h3>
            <div class="entry">
                <p>هذا الجهد   ..    إلى    الآباء و    الأمهات .. إلى الأهل الباحثين عن الأمل .. الأمل الغائب  .. الأمل القادم  .. أمل الصم .. في أن يتكلموا .. في أن يتعلموا   .. في أن يرتقوا بالعلم .</p>
                <p>.. هو .. من أجلك من أجل ولدك ..  أخي المهتم أختي المهتمة .. هو من أجل أصم عربي متعلم .. من أجل أصم عربي متميز .. من أجل كل الصم العرب أصحاب الحق فيه …</p>
                <p>.. هو إلى كل الصامدين الجادين في قاعات الدرس ..حملة الأقلام البيضاء معلمي الصم كل الصم العرب ..حملة الأمل .</p>
                <p>.. الأمل الذي ينتظرون .. أجيال من الصم رحلت عن الحياة وقد أعياها انتظاره .. و أخرى طال وقوفها في محطة استقباله .. شابت و بياض شعرها بانت ألوان بياضه .. .. و صغار منهم في شكل الورد .. بعين الحالم .. وقفت .. في صدر الحياة .. ومازالت .. تترقب .. قدومه .. تتأمل اقترابه .. !!</p>
                <p>..إلى كل  المخلصين العاملين مع الصم أصحاب الحاجة إليه لأنه يشكل المادة اللغوية التي يحتاجونها في تواصلهم المعرفي مع الصم أصحاب الحق فيه .. إلى المعلمين الذين عاشوا و مازالوا يعيشون معاناة الجهد و الاجتهاد حملة الراية راية الأمل .</p>
                <p>إلى كل الصم العرب ..</p>
                <p>إن كنت أباً لمثل هذه الحالة فأنت مدعو معنا للمشاركة في تحقيق  أمل ولدك  و إن كنت معلماً فأنت الطرف المهم في تحقيق الأمل .. أمل كل الصم العرب ..( الأمل الذي رفع شعاراً لمدارس الصم ) .. الأمل في أن يتكلموا ..في أن يتعلموا .. في أن يرتقوا بالعلم .</p>
                <p>.. معاً على طريق لغة إشارية عربية تستقيم على ما استقامت عليه لغتنا الجميلة .. لغة لقرآن الكريم.. لغة الشعر و الفن .. لغة القواعد والضوابط ..تحقق للصم العرب الارتقاء بالعلم و التعلم .. ترقى بهم و بلغتهم إلى مصاف لغتنا يغرفون من معينها كل حسب قدراته على الاكتساب  والتحصيل .</p>
                <p>.. معاً من أجل.. أصم عربي متعلم .. من أجل أصم عربي متميز .. من أجل كل الصم العرب على أرض وطننا العربي الكبير .. معا  من أجل .. كل الصم العرب .. في أن يتكلموا .. في أن يتعلموا .. في أن يرتقوا بالعلم  .</p>
                <p>.. معاً من أجل .. برامج تعليمية .. تثقيفية .. ترفيهية ..باستخدام تقنيات العصر الكمبيوتر و ما يتميز به من معجزات أبرزها الإنترنت حيث يستطيع الصم العرب التواصل من خلاله مع بعضهم بلغتهم الإشارية موضوع جهدنا بعد أنّ .. توفر ت المادة  اللغوية  التي  تحقق  ذلك .</p>
                <p>.. معاً من أجل.</p>
                <p>.. برنامج افتح يا سمسم بلغة إشارية  عربية .</p>
                <p>.. مناهل لغوية إشارية ينهل منها الصم العرب معارفهم اللغوية بأنواعها تفتح لهم صفحة الحياة على أوسع أبوابها.. تصور أحداثها بلغة إشارية عربية تسحر العيون حركاتها تهز مشاعرها كما هزت لغة الكلام قلوبنا و حركت  كوامنها .</p>
                <p>.. معاً من أجل .. قصص و حكايات إشارية .. يتبادلها الصم والأهل فيما بينهم .. ترقى بهم وبأفكارهم وخيالاتهم إلى التحليق بعوالم  هذه الحياة الإنسانية .</p>
                <p>—————</p>
                <p>
                    عضو الاتحاد العربي للهيئات العاملة في رعاية الصم سابقا<br>
                    عضو لجنة الخبراء العرب لإعداد أبجدية الأصابع .<br>
                    مبتكر نظام لغة العلم والتعلم الإشارية  للصم العرب .بقرار وزارة الثقافة رقم 798/و تاريخ 2 /5/2005<br>
                    معد الأبجدية الإشارية الدالة على الأصوات العربية.<br>
                    مبتكر نظام أبجدية الكف للتواصل بين الصم العميان مزدوجي الإعاقة .. والتواصل بين الصم العاديين والعميان ذوي السمع والكلام . بقرار وزارة الثقافة رقم 798/و تاريخ 2 /5/2005
                </p>

            </div>
        </div>
    </div> 
    <!----//End-top-grids---->
    <!----start-contact---->
    <div class="contact" id="contact">
        <div class="container">
            <img src="../images/msg-icon.png" style="width:50px;height:50px;display:block;margin:auto" class="img-responsive" alt="Contact Us">
            <div class="row" style="padding:25px 0">
                @Html.BeginForm("ContactUs", null, FormMethod.Post){
                @Html.AntiForgeryToken()
                <div class="col-md-6 contact-text-box">
                    <div>

                        <span class="thespan">Name<label>*</label></span>
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })


                        @Html.EditorFor(model => model.UserName)
                    </div>
                    <div>


                        <span class="thespan">Email<label>*</label></span>
                        @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })


                        @Html.EditorFor(model => model.UserEmail)
                    </div>
                </div>
                <div class="col-md-6 contact-text-textarea" style="margin-top: -20px;">
                    <div>

                        <span class="thespan">Message<label>*</label></span>
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })


                        @Html.EditorFor(model => model.Message)
                    </div>
                    <input class="btn btn-primary btn-lg" type="submit" Value="send" />
                </div>
                }
            </div>
        </div>
    </div>
    <!--//End-contact-->
    <!--start-footer-->
    
    <footer class="footer-distributed">
        <div class="footer-right">
            <img src="/images/logo.jpg" />
        </div>
        <div class="footer-left">
            <h3>Deaf Language <span>Simulator</span></h3>

            <p class="footer-company-name">جميع الحقوق محفوظة &copy; 2015</p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/profile.php?id=571488095&fref=ts"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus-square"></i></a>
                <a href="https://www.youtube.com/channel/UCL0-epQVuWT62MtntneRXsA"><i class="fa fa-youtube-play"></i></a>
            </div>
        </div>
    </footer>

    <script>
        $(function(){
            $.ajax({
            type: "Post",
            url: '@Url.Action("LoadImages", "Default")',
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                Jism = data.Jism;
                $.fn.preload = function () {
                    this.each(function () {
                        $('<img/>')[0].src =api+ this;
                    });
                }
                $(data.Syllables).preload();
                
            },
            error: function (data) {
                explain.html("حدث خلل يرجى مراسلتنا به");

            }
            });
        })
        

        $(document).ready(function () {

            var showHeaderAt = 150;

            var win = $(window),
                    body = $('body');

            // Show the fixed header only on larger screen devices

            if (win.width() > 600) {

                // When we scroll more than 150px down, we set the
                // "fixed" class on the body element.

                win.on('scroll', function (e) {

                    if (win.scrollTop() > showHeaderAt) {
                        body.addClass('fixed');
                    }
                    else {
                        body.removeClass('fixed');
                    }
                });

            }

        });

    </script>

    <script>
        $(function () {
            var slider = $('.range-slider'),
                range = $('#range'),
                value = $('#rangevalue');

            slider.each(function () {
                value.each(function () {
                    var value = $(this).prev().attr('value');
                    $(this).html(value);
                });
                range.on('input', function () {
                    $(this).next(value).html(this.value);
                });
            });
        });

        syllable_text = $("#syllable_text");
        explain = $("#translate_explane");
        var api = "http://deaf-api.azurewebsites.net";

        function drawimagesonCanvas(canvas, url1, diac1, url2, diac2) {

            var IsBoth = (url2 != null);
            var context = canvas.getContext('2d');
            context.clearRect(0, 0, canvas.width, canvas.height);

            let loadImage = (url, diac, x, y, w, h, f) => new Promise((resolve, reject) => {
                var img = new Image();
                
                img.addEventListener('load', () => {
                    if (f) {
                        context.save();
                        context.scale(-1, 1);
                        context.drawImage(img, x, y, -w, h);
                        context.restore();

                        if (diac != null) {
                            context.fillStyle = "#5383d3";
                            context.font = "bold 70px Arial";

                            context.fillText(diac + '\u25CC', w, h / 2);
                        }
                        resolve();
                    }
                    else {
                        context.drawImage(img, x, y, w, h);

                        if (diac != null) {
                            context.fillStyle = "#5383d3";
                            context.font = "bold 70px Arial";
                            context.fillText(diac + '\u25CC', 50, h / 2);
                        }
                        resolve();
                    }
                });
                
                img.src = url;
            });
            
            return loadImage(api + Jism, null, 50, 0, 350, 500).then(() => {
                if (IsBoth) {

                    return Promise.all([
                        loadImage(api + url1, diac1, 50, 0, 350, 500),
                        loadImage(api + url2, diac2, -50, 0, 350, 500, true),

                    ]);

                } else {
                    return Promise.all([
                        loadImage(api + url1, null, 50, 0, 350, 500
                        )
                    ]);

                }
            })
        }

        function showImagesByPairAtInterval(Syllables, interval, index, first, once) {
            index = index || 0;
            let slice = Syllables[index];
            nextIndex = index + 1;
            if (!first)
                syllable_text.html(slice.The_Syl);
            var canvas = document.getElementById("canvas_images");
            if (once && !first) {
                drawimagesonCanvas(drawimagesonCanvas(canvas, slice.Url1_Sokon, null, slice.Url2_Sokon, null).then(
                    () => {
                        setTimeout(showImagesByPairAtInterval.bind(
                            null,
                            Syllables,
                            interval,
                            index, first, false
                        ), 500);
                    }));
            }
            drawimagesonCanvas(drawimagesonCanvas(canvas, slice.Url1, slice.Diac1, slice.Url2, slice.Diac2)
            .then(() => {
                if (nextIndex <= Syllables.length - 1) {
                    setTimeout(showImagesByPairAtInterval.bind(
                        null,
                        Syllables,
                        interval,
                        nextIndex, false, true
                    ), interval);

                } else if (nextIndex > Syllables.length - 1 && !first) {
                    explain.html("جربني مرة اخرى");
                    syllable_text.html("<br/>");
                    $('#translate_button').removeAttr('disabled');
                }
            }));

        }
        function onFailure(data) {
            explain.html("جربني مرة اخرى بعد قليل");
        }
        var loadcount = 0;
        var loadtotal = 0;
        var preloaded = false;
        var Jism;

        $(function () {
            $.ajax({
                type: "Post",
                url: '@Url.Action("StartUp", "Default")',
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    Jism = data.Jism;
                    showImagesByPairAtInterval(data.Syllables, 0, null, true, true);

                },
                error: function (data) {
                    explain.html("جربني مرة اخرى بعد قليل");

                }
            });
        });
        //submit data with jQuery AJAX
        function onSuccess(data) {
            $('#translate_button').attr('disabled', 'disabled');
            explain.html("تتم الأن ترجمة المقطع");

            Syllable = JSON.parse(data);
            Jism = Syllable.jism;
            millisecondsToWait = $("#range").val() * 1000;
            showImagesByPairAtInterval(Syllable.List, millisecondsToWait, null, false, true);

        }
    </script>
</body>

</html>
